* {
    box-sizing: border-box;
    
}

#gmap_canvas {
    width: 100%;
    height: 50%;
    border: 5px solid #ffcd2a ;
}

.contact-section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 5rem 0;
}

.contact-container {
    margin: 0 auto;
    width: 75%;
}

.contact-title h2{
    margin: 0;
    font-size: 1.75rem;
    padding-top: 20px;
}

.contact-title p{
    font-size: 1rem;
    margin-top: 8px;
    margin-bottom: 50px;
    color: rgb(160, 160, 160);
}

.contactinfo-holder {
    display: flex;
    justify-content: space-between;
}



.info-columns {
    display: flex;
    flex-direction: column;
       
}

.info-column {
    display: flex;
    align-items: flex-start;
}

.icon-content {
    width: 30px;
    margin-top: 8px;
}

.box-right {
    margin-left: 40px;
}
    
.box-right_titles {
    font-size: 1.5rem;
    margin: 0;
}

.box-right_description {
    margin: 0;
    font-size: 1rem;
    color: rgb(160, 160, 160);
    margin-bottom: 40px;
}

.radno-vreme {
    display: flex;
    flex-direction: column;
}

.radno-vreme-title {
    font-size: 1.75rem;
}

.radno-vreme h1 {
    margin: 0;
}

.radno-vreme-desc {
    color: rgb(83, 83, 83);
}

.radno-vreme p {
    color: rgb(160, 160, 160);
    margin-top: 0px;
    margin-bottom: 2.5rem;
}


/* ==========================================FORMA ================================= */


label {
    display: block;
    width: 500px;
    margin: 24px 0 24px 0;
}

.first-label {
    margin: 0;
}

[type="email"], 
[type="text"],
[name="message"] {
    margin: 0;
    padding: 8px;
    width: 100%;
}

[name="message"] {
    height: 120px;
    resize: vertical;
}

[name="submit"] {
    margin-top: 10px;
    color: #fff;
    font-size: 1rem;
    padding: 0.85rem 1.5rem;
    background: black;
    border: 2px solid #000;
}

[name="submit"]:hover {
    background: #ffcd2a;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.icon-pin {
    content: url(../img/icons/pin_full.svg);
    width: 37px;
}


.icon-tel {
    content: url(../img/icons/phone_full.svg);
}

.icon-email {
    content: url(../img/icons/email_full.svg);
    
}

@media (max-width: 640px) {
    .contact-section {

    }
    .contactinfo-holder {
        flex-direction: column;
        /* justify-content: space-between; */
    }
  }
        
        